@model List<Traversal.EntityLayer.Concrate.Destination>
@{
    ViewData["Title"] = "Traversal | Admin Rotalar";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<div class="container">
    <div class="card">
        <h5 class="card-header bg-primary text-white">Tur Rotaları</h5>
        <div class="table-responsive text-nowrap">
            <table class="table table-borderless">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Şehir</th>
                        <th>Fiyat</th>
                        <th>Kapasite</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.DestinationID</td>
                            <td>@item.City</td>
                            <td>@item.Price</td>
                            <td>@item.Capacity</td>
                            <td>
                                <div class="dropdown">
                                    <button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
                                        <i class="bx bx-dots-vertical-rounded"></i>
                                    </button>
                                    <div class="dropdown-menu">
                                        <a class="dropdown-item" href="/Destination/DestinationDetails/@item.DestinationID"><i class="bx bx-log-in-circle me-1 text-primary"></i> Sitede Gör</a>
                                        <a class="dropdown-item" onclick="deleteItem('/Admin/Destination/DeleteDestination/@item.DestinationID')" href="#"><i class="bx bx-trash me-1 text-danger"></i> Sil</a>
                                        <a class="dropdown-item" href="/Admin/Destination/EditDestination/@item.DestinationID"><i class="bx bx-edit-alt me-1 text-warning"></i> Güncelle</a>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="mt-3">
        <a href="/Admin/Destination/AddDestination/" class="btn btn-primary"><span class="tf-icons bx bx-plus-circle"></span>Yeni Rota</a>
        <a href="/Admin/ExcelReport/DestinationReport/" class="btn btn-success float-end"><span class="tf-icons bx bxs-report"></span>Excel Raporu Al</a>
    </div>
</div>