@model Traversal.EntityLayer.Concrate.Feature
@{
    ViewData["Title"] = "AddFeature";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container-xxl flex-grow-1 container-p-y">
    <div class="card mb-4">
        <div class="card-header d-flex justify-content-between align-items-center bg-primary">
            <h5 class="mb-0  text-white">Yeni Öne Çıkan</h5>
        </div>
        <div class="card-body mt-2">
            <form method="post">
                <div class="row">
                    <div class="col-sm">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-fullname">Gün/Gece</label>
                            <input type="text" asp-for="Name" class="form-control" id="basic-default-fullname" placeholder="3 Gün, 4 Gece" />
                        </div>
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-company">Fotoğraf Url</label>
                            <input type="text" asp-for="Image" class="form-control" id="basic-default-company" placeholder="https://www.hizliresim.com/n3cuq4e" />

                        </div>
                    </div>
                    <div class="col-sm">
                        <div class="mb-3">
                            <label class="form-label" for="basic-default-company">Fiyat</label>
                            <input type="text" asp-for="Description" class="form-control" id="basic-default-company" placeholder="1780" />
                        </div>

                        <div class="mr-3 mb-3 form-check form-switch">
                            <label class="form-check-label mr-4" for="basic-default-company">Büyük Fotoğraf</label>
                            <input type="checkbox" asp-for="IsBigImage" class="form-check-input mr-4" id="basic-default-company" />
                        </div>
                        <div class="mr-3 mb-3 form-check form-switch">
                            <label class="form-check-label mr-4" for="basic-default-company">Durumu</label>
                            <input type="checkbox" asp-for="Status" class="form-check-input mr-4" id="basic-default-company" />
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary"><span class="tf-icons bx bx-plus-circle"></span> Ekle</button>
                <a href="/Admin/Features/Index/" class="btn btn-danger"><span class="tf-icons bx bx-arrow-back"></span> Vazgeç </a>
            </form>
        </div>
    </div>
</div>

