
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Pdf Raporları Sayfası</h1>
<a href="/Admin/PdfReport/StaticPdfResult/" class="btn btn-primary">Statik Rapor</a>
<a href="/Admin/PdfReport/StaticCustomerReport/" class="btn btn-primary">Statik Misafir Raporu</a>

