<ul class="menu-inner py-1">
    <!-- Dashboard -->
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Genel</span>
    </li>
    <li class="menu-item">
        <a href="/Admin/Dashboard/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-home-circle"></i>
            <div data-i18n="Analytics">Dashboard</div>
        </a>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-trip"></i>
            <div data-i18n="Layouts">Tur Rotaları İşlemleri</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Destination/Index/" class="menu-link">
                    <div data-i18n="Without menu">Tur Rotaları</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/DestinationCQRS/Index/" class="menu-link">
                    <div data-i18n="Without navbar">Tur Rotaları CQRS</div>
                </a>
            </li>
        </ul>
    </li>
 


    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-walk"></i>
            <div data-i18n="Layouts">Rehber İşlemleri</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/Guide/Index/" class="menu-link">
                    <div data-i18n="Without menu">Rehberler</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="/Admin/GuideMediatR/Index/" class="menu-link">
                    <div data-i18n="Without navbar">Rehberler CQRS MediatR</div>
                </a>
            </li>
        </ul>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-message-rounded-dots"></i>
            <div data-i18n="Analytics">Mesajlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Comment/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-comment"></i>
            <div data-i18n="Analytics">Yorumlar</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-envelope"></i>
            <div data-i18n="Analytics">Mail Bülteni</div>
        </a>
    </li>
    @*Misafirler / Rezervasyonlar ile ilgili sayfalar*@

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Misafir / Rezervasyon</span>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-home-smile"></i>
            <div data-i18n="Layouts">Rezervasyonlar</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="layouts-without-menu.html" class="menu-link">
                    <div data-i18n="Without menu">Onay Bekleyen R.</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Without navbar">Onaylanmış R.</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Without navbar">Geçmiş R.</div>
                </a>
            </li>
        </ul>
    </li>



    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-group"></i>
            <div data-i18n="Layouts">Misafir İşlemleri</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="/Admin/User/Index/" class="menu-link">
                    <div data-i18n="Without menu">Misafir Listesi</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Without navbar">Mesajlar</div>
                </a>
            </li>
        </ul>
    </li>

    @*Vitrinle ilgili sayfalar*@

    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Vitrin İşlemleri</span>
    </li>

    <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
            <i class="menu-icon tf-icons bx bx-home-smile"></i>
            <div data-i18n="Layouts">Vitrin Düzenleme</div>
        </a>

        <ul class="menu-sub">
            <li class="menu-item">
                <a href="layouts-without-menu.html" class="menu-link">
                    <div data-i18n="Without menu">Öne Çıkanlar 1</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Without navbar">Öne Çıkanlar 2</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Without navbar">Referanslar</div>
                </a>
            </li>
            <li class="menu-item">
                <a href="layouts-without-navbar.html" class="menu-link">
                    <div data-i18n="Without navbar">Alt Hakkında</div>
                </a>
            </li>
        </ul>
    </li>


    @*ADMIN*@
    <li class="menu-header small text-uppercase">
        <span class="menu-header-text">ADMIN</span>
    </li>

    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-key"></i>
            <div data-i18n="Analytics">Şifre İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="/Admin/Role/Index/" class="menu-link">
            <i class="menu-icon tf-icons bx bx-cog"></i>
            <div data-i18n="Analytics">Rol İşlemleri</div>
        </a>
    </li>
    <li class="menu-item">
        <a href="index.html" class="menu-link">
            <i class="menu-icon tf-icons bx bx-log-out"></i>
            <div data-i18n="Analytics">Çıkış Yap</div>
        </a>
    </li>
</ul>