@model Traversal.EntityLayer.Concrate.Destination
<div class="leave-comment-form mt-5" id="reply">
    <h4 class="side-title mb-2">Bir Yorum Bırakın</h4>
    <p class="mb-4">
        İşaretli alanları doldurmanız gerekmektedir. *
    </p>
    <form method="post" asp-action="AddComment" asp-controller="Comment">
        <input type="hidden" name="DestinationID" value="@ViewBag.id" />
        <input type="hidden" name="AppUserID" value="@ViewBag.userID" />
        <div class="form-group">
            <textarea name="CommentContent" class="form-control" placeholder="Yorumunuz *" required=""
                      spellcheck="false"></textarea>
        </div>
        <div class="submit text-right">
            <button class="btn btn-style btn-primary">Yorum Yap </button>
        </div>
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>